

// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#footer {
  background-color: black;
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0px;

}

#footer--links {
  color: white;
  float: left;
}

#footer li {
  display: inline;
}

#hamburger{
  height: 100%;
  float: right;
}