<p id="notice"><%= notice %></p>

<h1>Listing Pets</h1>

<%= link_to 'New Pet', new_pet_path %>

<div id="footer">
  <div id = footer--links>
    <ul>
      <li>
        Attaboy
      </li>
      <li>
        Demerit
      </li>
      <li>
        Changify
      </li>
      <li>
        Xzibit
      </li>
    </ul>
    </div>
    <img id="hamburger" src="https://s3.amazonaws.com/uploads.hipchat.com/146937/1059961/cV3BhnR5tsLHnJH/menu.svg" />
  </div>

