<% @artists.each do |artist| %>
      <h2><%= artist.name %></h2>
      <%= artist.songs.each do |song| %>
        <h3><%= song[:name] %></h3>
      <% end %>
<% end %>

<%= link_to 'add', new_rock_path %>